@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    
    .desktop-link a {
        position: relative;
    }
  
    /* Add styles for the upperlink effect */
     .desktop-link a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: -2px;
        left: -1px;
        background-color: theme('colors.mercury'); /* Set your desired upperlink color */
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease-out;
    }
  
  /* Add hover effect to the navigation links */
  .desktop-link a:hover::before {
    transform: scaleX(1);
  }

  /* Remove the upperlink effect on mobile */
    @media (max-width: 900px) {
        .desktop-link a::before {
            display: none;
        }
    }



    .mobile-explorer button {
        position: relative;
    }
  
    /* Add styles for the upperlink effect */
     .mobile-explorer button::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: -1px;
        background-color: theme('colors.mercury'); /* Set your desired upperlink color */
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease-out;
    }

    .mobile-explorer button:hover::before {
        transform: scaleX(1);
      }
    
    .mobile-explorer button{
        @apply p-2 py-4 uppercase text-sm font-semibold opacity-60;
    }

    .mobile-explorer button:active{
        @apply  opacity-100;
    }

    @media (min-width: 900px) {
        .mobile-explorer {
            display: none;
        }

        .mobile-explorer button {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .desktop-explorer {
            display: none;
        }
        .desktop-explorer > button {
            display: none;
        }
    }
}